
/* PROPIEDADES HEADER */
ul{
    list-style-type: none;
}
header{
    background-color: #5c0931;
}
.container-fluid div{
    justify-content: center;
}

li{
    margin: 10px;}
a{
    color:black;
    border-bottom: solid black 1px;
}

/* PROP. ASIDE */
.btn-danger {
    background-color: #ffa903;
    border-color: black;}

div>button{
    margin-left: 50px;
}

.vs{
    margin-top: 16px;   
}
h1,h2{
    font-weight: 700;
}
.divM{
    margin-top: 40px;
}
/* PROPIEDADES IMG´S */
.imgIndex{
    border-radius: 30px;
} 

.estadios{
    width: 600px;
    height: 400px;
}

footer{
    background-color: #5c0931;
}
.btn-primary{
    background-color: #ffa903;
    border: black;
}

.row.g-3{
    justify-content: center;
}


.pFooter{
    border-radius: 100px;
    background-color: #ffa903;
    margin-top: 50px;
    width: 50%;

}



/* Propiedades grid */
.gridContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "parteA parteB";
}

.parteA{
    grid-area: parteA;
    grid-area: parteB;
}

.parteA .parteB{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* transformaciones*/
.nav-link{
    font-size: 20px;
    transition: font-size 1s;
}
.nav-link:hover{
    font-size: 24px;
}

.btn-danger{
    font-size: 10px;
    transition: font-size 1s;
}

.btn-danger:hover{
    font-size: 15px;
}
.logo{
    transition: all 1s;
}
.logo:hover{
    transform: translateY(-10px);
}
/* MEDIA QUERIE */
@media only screen and (max-width: 768px){
    .gridContainer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "parteA"
        "parteB";
    }
    .imgIndex{
        width:380px
    }

}